.root {
  --c: var(--black);
  --fz: rem(14) &[data-variant= "white"] {--c: var(--white) ;} color: var(--c);
  font-size: var(--fz);

  @include larger-than($tablet) {
    --fz: rem(16);
  }

  @include larger-than($laptop) {
    --fz: rem(18);
  }

  @include larger-than($desktop) {
    --fz: rem(22);
  }
}
