.element {
  /* layout */
  position: var(--pos);
  top: var(--top);
  right: var(--right);
  bottom: var(--bottom);
  left: var(--left);
  display: var(--d);
  visibility: var(--visibility);
  overflow: var(--overflow);
  overflow-x: var(--overflow_x);
  overflow-y: var(--overflow_y);
  z-index: var(--z);
  /* Grid & Flex */
  flex: var(--flex);
  flex-basis: var(--flex_basis);
  flex-direction: var(--flex_direction);
  flex-grow: var(--flex_grow);
  flex-shrink: var(--flex_shrink);
  flex-wrap: var(--flex_wrap);
  order: var(--order);

  grid-auto-columns: var(--gac);
  gap: var(--gap);
  grid-template-columns: var(--g_cols);
  grid-template-rows: var(--g_rows);
  grid-auto-flow: var(--gaf);
  grid-auto-rows: var(--gar);

  /* font */
  font: var(--font);
  font-weight: var(--fw);
  font-size: var(--fz);
  line-height: var(--lh);
  font-family: var(--ff);
  color: var(--c);
  font-style: var(--fs);
  font-variant: var(--fv);
  font-variant-numeric: var(--fv_num);
  /* letter-spacing: var(--letter_spacing); */
  text-align: var(--t_align);
  vertical-align: var(--v_align);
}
