:root {
  // titles fz
  --h1-fz: rem(25);
  --h2-fz: rem(22);
  --h3-fz: rem(18);

  @include larger-than($tablet) {
    // titles fz
    --h1-fz: rem(30);
    --h2-fz: rem(25);
    --h3-fz: rem(22);
  }

  @include larger-than($laptop) {
    // titles fz
    --h1-fz: rem(30);
    --h2-fz: rem(25);
    --h3-fz: rem(22);
  }

  @include larger-than($desktop) {
    // titles fz
    --h1-fz: rem(40);
    --h2-fz: rem(35);
    --h3-fz: rem(25);
  }
  .class {
    margin: 10px;
    padding: 10px;
  }
}
